body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: #ac95d1;
}

.bar {
    background-color: #ac95d1;
    border-color: black;
    fill: rgb(221, 221, 221);
}

.dot:hover {
    fill: rgb(221, 221, 221);
}

g {
    color: rgb(221, 221, 221);
}
#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
    margin-top: 5px;
    color: rgb(56, 58, 74);
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    margin-top: 5px;
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
}

#title {
    font-size: 28px;
    fill: rgb(221, 221, 221);
    text-transform: uppercase;
}